<nav th:fragment="navbar">

    <div class="navbar bg-light border-bottom border-body mb-5">
        <div class="container">

            <a th:href = "@{/main}" class="navbar-brand">Weather-MVC</a>

            <form accept-charset="UTF-8" class="d-flex" role="search" method="POST" action="#" th:action="@{/search-location}" th:object="${locationSearchDto}">

                <input class="form-control me-2" required th:field="*{locationName}" type="text" placeholder="Search location" aria-label="Search">

                <div th:if="${#fields.hasErrors('locationName')}" th:errors="*{locationName}">Name error</div>

                <button class="btn btn-primary" type="submit">Search</button>

                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            </form>

            <form class="d-flex" action="#" th:action="@{/logout}" method="POST">
                <button type="submit" class="btn btn-outline-danger">Log out</button>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

        </div>
    </div>

</nav>