<!doctype html>
<html lang="en">
<head>
  <meta th:charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Weather-MVC</title>
</head>
<body>

    <div th:replace="~{navbar :: navbar}"></div>


    <div class="container">
        <div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-md-2 row-cols-sm-1 row-cols-1  g-4">
        <div th:each="location : ${locations}">

            <div class="col mx-auto">
              <div class="card text-center mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <form th:action="@{/search-location/add}" method="post">

                      <h5 class="card-title" th:text="${location.getName()}">Card title</h5>
                      <p class="card-text">
                        <span th:text="${location.getCountry()}"></span>
                        <span th:text="${location.getState()}"></span>
                      </p>
                      <input type="hidden" th:value="${location.name}" name="name">
                      <input type="hidden" th:value="${location.country}" name="country">
                      <input type="hidden" th:value="${location.state}" name="state">
                      <input type="hidden" th:value="${location.lat}" name="lat">
                      <input type="hidden" th:value="${location.lon}" name="lon">

                      <button type="submit" class="btn btn-primary">Add location</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>